<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>登陆页面</title>
<!-- Bootstrap core CSS -->
<link href="webjars/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="span12">
				<form class="form-horizontal" th:action="@{index}" method="post" >
					<div class="control-group">
						<label class="control-label" for="username">邮箱</label>
						<div class="controls">
							<input  type="text" name="username"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">密码</label>
						<div class="controls">
							<input  type="password" name="password"/>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox"><input type="checkbox" />
								Remember me</label>
							<button type="submit" class="btn">登陆</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<!-- axios前端与后端交互-->
	<script src="webjars/axios/0.18.0/dist/axios.min.js"></script>
	<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
	<script src="webjars/popper.js/1.14.3/popper.min.js"></script>
	<!-- Bootstrap4 核心 JavaScript 文件 -->
	<script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
</html>